@{
    ViewBag.Title = "Gestione Incassi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles {
    <style>
        span[role="status"] {
            display: none !important;
        }

        .table > tbody > tr > td {
            padding: 8px;
            vertical-align: middle;
        }

        .mylabel {
            margin-bottom: 4px;
            color: #999;
            font-size: 12px;
            font-weight: 500;
        }

        .table-responsive {
            overflow-x: auto;
        }
    </style>
}

<div id="content">
    <div class="row">
        <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
            <h1 class="page-title txt-color-blueDark">
                <i class="fa fa-coins fa-fw"></i> Gestione Incassi
            </h1>
        </div>
    </div>

    <section id="widget-grid">
        <div class="row">
            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="jarviswidget" id="wid-id-gestione-incassi" data-widget-editbutton="false" data-widget-deletebutton="false">
                    <header>
                        <span class="widget-icon"><i class="fa fa-list"></i></span>
                        <h2 class="fadeInLeft animated">Lista Incassi</h2>
                    </header>
                    <div>
                        <div class="widget-body no-padding">
                            <div id="contenitoreIncassi" class="table-responsive">
                                @Html.Action("GestioneIncassiList", "Pratiche")
                            </div>
                        </div>
                    </div>
                   
                </div>
            </article>
        </div>
    </section>
</div>
