@model Sinergia.Models.CategoriaPraticaViewModel
@{
    // Permessi dal controller o passati in ViewData nella partial principale
    var puoModificare = (ViewBag.PuoModificare as bool?) == true || (ViewData["PuoModificare"] as bool?) == true;
    var puoEliminare = (ViewBag.PuoEliminare as bool?) == true || (ViewData["PuoEliminare"] as bool?) == true;
}

<div class="d-flex flex-wrap justify-content-center align-items-center gap-2">

    @if (puoModificare)
    {
        <button class="btn btn-warning btn-sm fa fa-pencil" title="Modifica"
                onclick="apriModificaCategoria(@Model.ID_CategoriaPratica)">
        </button>
    }

    @if (puoEliminare)
    {
        <button class="btn btn-danger btn-sm fa fa-trash" title="Elimina"
                onclick="confermaEliminazioneCategoria(@Model.ID_CategoriaPratica)">
        </button>
    }

</div>

