@{
    ViewBag.Title = "Gestione Utenti";

}

@section styles {
    <style>
        span[role="status"] {
            display: none !important;
        }

        .table > tbody > tr > td {
            padding: 5px;
        }

        .mylabel {
            margin-bottom: 4px;
            color: #999;
            font-size: 12px;
            font-weight: 500;
        }
    </style>
}

@{
    var utenteLoggato = Session["User"] as Sinergia.Model.Utenti;
}
<script>
    const tipoUtenteLoggato = "@(utenteLoggato?.TipoUtente ?? "")";
</script>


<div id="content">
    <div class="row">
        <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
            <h1 class="page-title txt-color-blueDark">
                <i class="fa fa-users fa-fw"></i> Gestione Utenti
            </h1>
        </div>
    </div>

    <section id="widget-grid">
        <div class="row">
            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="jarviswidget" id="wid-id-utenti" data-widget-editbutton="false" data-widget-deletebutton="false">
                    <header>
                        <h2 class="fadeInLeft animated">Lista Utenti</h2>
                    </header>
                    <div>
                        <div class="widget-body no-padding">
                            <div id="utentiContainer">
                                @Html.Action("GestioneUtentiList", "Utenti")
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
</div>








