<?xml version="1.0"?>
<configuration>
	<configSections>
		<sectionGroup name="system.web.webPages.razor"
		  type="System.Web.WebPages.Razor.Configuration.RazorWebSectionGroup, System.Web.WebPages.Razor, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
			<section name="host"
			  type="System.Web.WebPages.Razor.Configuration.HostSection, System.Web.WebPages.Razor, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"
			  requirePermission="false" />
			<section name="pages"
			  type="System.Web.WebPages.Razor.Configuration.RazorPagesSection, System.Web.WebPages.Razor, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"
			  requirePermission="false" />
		</sectionGroup>
	</configSections>

	<system.web.webPages.razor>
		<host factoryType="System.Web.Mvc.MvcWebRazorHostFactory, System.Web.Mvc, Version=5.2.9.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
		<pages pageBaseType="System.Web.Mvc.WebViewPage">
			<namespaces>
				<add namespace="Sinergia.Models" />
				<add namespace="System.Web.Mvc" />
				<add namespace="System.Web.Mvc.Ajax" />
				<add namespace="System.Web.Mvc.Html" />
				<add namespace="System.Web.Routing" />
				<add namespace="System.Web.Optimization" />
			</namespaces>
		</pages>
	</system.web.webPages.razor>

	<appSettings>
		<add key="webpages:Enabled" value="false" />
	</appSettings>

	<!-- 🔧 CONFIG PER DEBUG -->
	<system.web>
		<!-- Mostra sempre gli errori dettagliati -->
		<customErrors mode="Off" />
		<!-- Compilazione in debug (non in produzione!) -->
		<compilation debug="true" targetFramework="4.7.2" />
	</system.web>

	<system.webServer>
		<!-- Mostra errori dettagliati da IIS -->
		<httpErrors errorMode="Detailed" />

		<handlers>
			<remove name="BlockViewHandler" />
			<add name="BlockViewHandler" path="*" verb="*" preCondition="integratedMode"
				 type="System.Web.HttpNotFoundHandler" />
		</handlers>

		<!-- ✅ Permette upload PDF firmati e aumenta limite dimensione -->
		<security>
			<requestFiltering>
				<fileExtensions allowUnlisted="true">
					<add fileExtension=".p7m" allowed="true" />
					<add fileExtension=".pdf" allowed="true" />
				</fileExtensions>
				<requestLimits maxAllowedContentLength="52428800" />
				<!-- 50 MB -->
			</requestFiltering>
		</security>
	</system.webServer>

</configuration>
